:root {
  --yellow-rgb: 245, 178, 5;
  --white-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  font-family: var(--font-poppins);
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}


.btn {
  background: rgb(var(--yellow-rgb));
  border: none;
  border-radius: 0.3em;
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.10);
  color: rgb(var(--white-rgb));
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 1em 0;
  max-width: 329px;
  outline: none;
  padding: 0.67em 0.56em;
  width: 100%;
}