.backBtn {
    background: rgba(var(--yellow-rgb), 0.4);
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 1em;;
    outline: none;
    padding: 0.125em;
}

.nextBtn {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.nextBtn svg {
    font-size: 1.5rem;
}

.onboardingSection {
    margin: 2em 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.onboardingImg {
    border-radius: 0.5625em;
    width: 100%;
    max-width: 340px;
}

.onboardingText {

}

.onboardingHeading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.25em 0;
}

.onboardingNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.onboardingLink {
    font-weight: 600;
}